html{
    margin:0;
}
body{
  background-color: black;
}


#butoanesus{
  padding:20px;
  background-color: #535353;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  transition: all 0.2s ease-in-out; 
}

#butoanesus:hover{
  background-color: #000000;
  color: white; 
  transform: scale(0.9);
}